body {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url("media/bg_bggenerator_circles.jpg");
  background-size: cover;
  font-family: 'Lato', sans-serif;
  color: white;
}

body .wrapper {
  height: 100vh;
  overflow-y: scroll;
}

body h1 {
  word-break: break-word;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}

body h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: normal;
  text-align: center;
}

body h3 {
  font-size: 20px;
}

body p {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

body a {
  text-decoration: none;
}

body .btnGlass, body .container #btnGit, .container body #btnGit {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  bottom: -30px;
  border-radius: 30px;
}

body .btnGlass div, body .container #btnGit div, .container body #btnGit div {
  background: white;
  color: #2C46FF;
  font-weight: bold;
  margin: 10px;
  padding: 10px 20px;
  border-radius: 30px;
}

body .btnGlass:hover, body .container #btnGit:hover, .container body #btnGit:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

@-webkit-keyframes slideDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideDown {
  from {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 5;
  color: black;
  -webkit-animation: 1s ease-out slideDown;
          animation: 1s ease-out slideDown;
}

header nav {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 52px;
  border: none;
}

header nav #logo {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 40px;
}

header nav a {
  background-color: #C48FFD;
  color: white;
  padding: 5px 25px;
  border-radius: 25px;
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
}

header nav a:hover {
  background-color: #D392FD;
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

#intro {
  text-align: center;
  width: 90%;
  margin: 25px auto;
}

#intro #cssPortrait {
  /*CSS DOODLE*/
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: relative;
  overflow: hidden;
  margin: auto;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: solid 2px white;
  z-index: 1;
}

#intro #cssPortrait #mainFace {
  position: absolute;
  background-color: #e0b1ab;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  left: 50px;
  top: 30px;
}

#intro #cssPortrait #chin {
  position: absolute;
  background-color: #e0b1ab;
  width: 100px;
  height: 100px;
  border-radius: 48% 52% 51% 49% / 23% 25% 75% 77%;
  left: 50px;
  top: 55px;
}

#intro #cssPortrait #eyeLeft {
  position: absolute;
  background-color: black;
  width: 8px;
  height: 15px;
  border-radius: 50%;
  top: 87px;
  left: 77px;
}

#intro #cssPortrait #eyeRight {
  position: absolute;
  background-color: black;
  width: 8px;
  height: 15px;
  border-radius: 50%;
  top: 87px;
  left: 112px;
}

#intro #cssPortrait #nose {
  position: absolute;
  background-color: #be8881;
  width: 12px;
  height: 7px;
  top: 115px;
  left: 93px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

#intro #cssPortrait #mouth {
  position: absolute;
  border-bottom: solid 3px black;
  width: 30px;
  height: 10px;
  top: 125px;
  left: 85px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 10px;
}

#intro #cssPortrait #hairTop {
  position: absolute;
  background-color: black;
  width: 108px;
  height: 40px;
  top: 22px;
  left: 51px;
  border-radius: 48% 52% 52% 48% / 83% 87% 13% 17%;
}

#intro #cssPortrait #hairPerspect {
  position: absolute;
  border-top: solid 2px dimgray;
  width: 45px;
  height: 35px;
  top: 39px;
  left: 61px;
  border-radius: 50%;
}

#intro #cssPortrait #mouth {
  position: absolute;
  border-bottom: solid 3px white;
  width: 30px;
  height: 10px;
  top: 125px;
  left: 85px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 10px;
}

#intro #cssPortrait #hairLeftSide {
  position: absolute;
  background-color: black;
  width: 14px;
  height: 54px;
  top: 50px;
  left: 45px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

#intro #cssPortrait #ear {
  position: absolute;
  background-color: #e0b1ab;
  width: 14px;
  height: 26px;
  border-radius: 50%;
  top: 95px;
  left: 44px;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
}

#intro #cssPortrait #hairRightSide {
  position: absolute;
  background-color: black;
  width: 40px;
  height: 55px;
  top: 51px;
  left: 113px;
  border-bottom-left-radius: 40px;
  -webkit-transform: rotate(-15deg);
          transform: rotate(-15deg);
}

#intro #cssPortrait #hairRightPoint {
  position: absolute;
  width: 90px;
  height: 42px;
  top: 71px;
  left: 89px;
  border-bottom: solid 25px black;
  border-radius: 0 0 0 100%;
  -webkit-transform: rotate(-105deg);
          transform: rotate(-105deg);
}

#intro #cssPortrait #hairRightString {
  position: absolute;
  width: 90px;
  height: 42px;
  top: 60px;
  left: 99px;
  border-bottom: solid 25px black;
  border-radius: 0 0 0 100%;
  -webkit-transform: rotate(-120deg);
          transform: rotate(-120deg);
}

#intro #cssPortrait #neck {
  position: absolute;
  background-color: #e0b1ab;
  width: 35px;
  height: 30px;
  top: 150px;
  left: 83px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: -1;
}

#intro #cssPortrait #neck::after {
  content: "";
  position: absolute;
  background-color: #be8881;
  width: 35px;
  height: 10px;
  left: 0px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  z-index: -1;
}

#intro #cssPortrait #shoulder {
  position: absolute;
  background-color: maroon;
  width: 130px;
  height: 40px;
  border-radius: 40% 40% 50% 50% / 30% 30% 70% 70%;
  margin-top: 161px;
  margin-left: 35px;
  z-index: -2;
}

#intro #cssPortrait #background {
  position: absolute;
  width: 203px;
  height: 203px;
  top: -1px;
  left: -1px;
  border-radius: 50%;
  z-index: -3;
}

@-webkit-keyframes slideUp {
  from {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-animation: 1.5s ease-out slideUp;
          animation: 1.5s ease-out slideUp;
  margin: 40px auto 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 90%;
  max-width: 1300px;
  border-radius: 25px;
  padding-bottom: 40px;
}

.container .title {
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin: 0;
  margin-bottom: 25px;
  width: 100%;
  padding: 25px 30px;
  text-transform: uppercase;
  color: black;
}

.container .project {
  background-color: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: #020202;
  position: relative;
  width: 26%;
  border-radius: 20px;
  margin: 0 1% 20px;
  padding: 5px 20px;
  text-decoration: none;
  color: inherit;
  overflow: hidden;
}

.container .project:nth-child(2):before {
  background-image: url("media/projet1.jpg");
}

.container .project:nth-child(3):before {
  background-image: url("media/projet2.jpg");
}

.container .project:nth-child(4):before {
  background-image: url("media/projet3.jpg");
}

.container .project:nth-child(5):before {
  background-image: url("media/projet4.jpg");
}

.container .project:nth-child(6):before {
  background-image: url("media/projet5.jpg");
}

.container .project:nth-child(7):before {
  background-image: url("media/projet7.jpg");
}

.container .project:nth-child(8):before {
  background-image: url("media/projet6.jpg");
}

.container .project:nth-child(9):before {
  background-image: url("media/projet8.jpg");
}

.container .project:nth-child(10):before {
  background-image: url("media/projet9.jpg");
}

.container .project:before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  z-index: -1;
  transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
}

.container .project:hover:before {
  opacity: 0.7;
}

#about {
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 40px auto 100px;
  padding: 15px 60px 25px;
  border-radius: 20px;
  font-weight: bold;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about #btnIn {
  left: -60px;
}

#about #btnCv {
  right: -60px;
}

#techs {
  width: 90%;
  text-align: center;
  margin: 40px auto;
}

#techs #techno {
  margin-bottom: 10px;
}

#techs #techno .tech, #techs #techno .tech--main {
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.2);
  color: black;
  padding: 5px 25px;
  border-radius: 25px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
  font-size: large;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
  margin: 2px;
}

#techs #techno .tech--main {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
          box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.4);
}

footer {
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px 25px;
  text-align: center;
  color: black;
}

footer p {
  font-size: 18px;
}

@media only screen and (max-width: 1024px) {
  .preview {
    width: 30%;
  }
  .illustration {
    left: -56%;
  }
}

@media only screen and (max-width: 890px) {
  #nav-btn {
    background-color: #7c73ff;
    color: white;
    padding: 5px 25px;
    border-radius: 25px;
    -webkit-box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
            box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    border: 1px solid rgba(255, 255, 255, 0.3);
  }
  #nav-btn:hover {
    background-color: #5335fd;
    -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
            box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
  }
  .container .project {
    width: 40%;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 20px;
  }
  .container .project {
    width: 70%;
  }
  .preview {
    display: inline-block;
    position: relative;
    width: 45%;
    height: calc(100vw * 0.4);
  }
  .illustration {
    left: -17%;
  }
  #about #btnIn {
    left: 0px;
  }
  #about #btnCv {
    right: 0px;
  }
  footer {
    margin-top: 50px;
  }
  footer p {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/*# sourceMappingURL=style.css.map */